microservice-chart:
  namespace: "ecommerce"
  nameOverride: ""
  fullnameOverride: ""
  canaryDelivery:
    create: true
    ingress:
      create: true
      canary:
        type: bluegreen
    service:
      create: true
    deployment:
      create: true
      image:
        repository: pagopadcommonacr.azurecr.io/pagopaecommerceeventdispatcherservice
        tag: "latest"
        pullPolicy: Always
      envConfig:
        TRANSACTIONS_CLOSE_PAYMENT_QUEUE_NAME: pagopa-d-weu-ecommerce-transactions-close-payment-queue-b
        TRANSACTIONS_CLOSE_PAYMENT_RETRY_QUEUE_NAME: pagopa-d-weu-ecommerce-transactions-close-payment-retry-queue-b
        TRANSACTIONS_EXPIRATION_QUEUE_NAME: pagopa-d-weu-ecommerce-transactions-expiration-queue-b
        TRANSACTIONS_REFUND_RETRY_QUEUE_NAME: pagopa-d-weu-ecommerce-transactions-refund-retry-queue-b
        TRANSACTIONS_REFUND_QUEUE_NAME: pagopa-d-weu-ecommerce-transactions-refund-queue-b
        TRANSACTIONS_NOTIFICATIONS_RETRY_QUEUE_NAME: pagopa-d-weu-ecommerce-transaction-notifications-retry-queue-b
        TRANSACTIONS_NOTIFICATIONS_QUEUE_NAME: pagopa-d-weu-ecommerce-transaction-notifications-queue-b
        TRANSACTIONS_DEAD_LETTER_QUEUE_NAME: pagopa-d-weu-ecommerce-transactions-dead-letter-queue-b
        TRANSACTIONS_AUTHORIZATION_REQUESTED_QUEUE_NAME: pagopa-d-weu-ecommerce-transaction-auth-requested-queue-b
        TRANSACTIONS_AUTHORIZATION_OUTCOME_WAITING_QUEUE_NAME: pagopa-d-weu-ecommerce-transaction-auth-outcome-waiting-queue-b
        NODO_ECOMMERCE_CLIENT_ID: ecomm-blue
        OTEL_RESOURCE_ATTRIBUTES: "service.name=pagopa-ecommerce-event-dispatcher-service-blue,deployment.environment=dev"
        ECS_SERVICE_NAME: pagopa-ecommerce-event-dispatcher-service-blue
        NODO_URI: https://api.dev.platform.pagopa.it/nodo/nodo-per-pm/v2
  deployment:
    create: true
  image:
    repository: pagopadcommonacr.azurecr.io/pagopaecommerceeventdispatcherservice
    tag: "1.35.0"
    pullPolicy: Always
  livenessProbe:
    handlerType: httpGet
    httpGet:
      path: /actuator/health/liveness
      port: 9000
    initialDelaySeconds: 180
    failureThreshold: 6
    periodSeconds: 10
  readinessProbe:
    handlerType: httpGet
    httpGet:
      path: /actuator/health/readiness
      port: 9000
    initialDelaySeconds: 180
    failureThreshold: 6
    periodSeconds: 10
  service:
    create: true
    type: ClusterIP
    ports:
      - 9000
  ingress:
    create: true
    host: "weudev.ecommerce.internal.dev.platform.pagopa.it"
    path: /pagopa-ecommerce-event-dispatcher/(.*)
    servicePort: 9000
  serviceAccount:
    create: false
    annotations: {}
    name: ""
  podAnnotations: {}
  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault
  securityContext:
    allowPrivilegeEscalation: false
  resources:
    requests:
      memory: "512Mi"
      cpu: "300m"
    limits:
      memory: "512Mi"
      cpu: "900m"
  autoscaling:
    enable: true
    minReplica: 1
    maxReplica: 2
    pollingInterval: 30 # seconds
    cooldownPeriod: 30 # seconds
    triggers:
      - type: cpu
        metadata:
          # Required
          type: Utilization # Allowed types are 'Utilization' or 'AverageValue'
          value: "70"
    advanced:
      horizontalPodAutoscalerConfig:
        behavior:
          scaleUp:
            stabilizationWindowSeconds: 60
  envConfig:
    TRANSACTIONS_CLOSE_PAYMENT_QUEUE_NAME: pagopa-d-weu-ecommerce-transactions-close-payment-queue
    TRANSACTIONS_CLOSE_PAYMENT_RETRY_QUEUE_NAME: pagopa-d-weu-ecommerce-transactions-close-payment-retry-queue
    TRANSACTIONS_EXPIRATION_QUEUE_NAME: pagopa-d-weu-ecommerce-transactions-expiration-queue
    TRANSACTIONS_REFUND_RETRY_QUEUE_NAME: pagopa-d-weu-ecommerce-transactions-refund-retry-queue
    TRANSACTIONS_REFUND_QUEUE_NAME: pagopa-d-weu-ecommerce-transactions-refund-queue
    TRANSACTIONS_NOTIFICATIONS_RETRY_QUEUE_NAME: pagopa-d-weu-ecommerce-transaction-notifications-retry-queue
    TRANSACTIONS_NOTIFICATIONS_QUEUE_NAME: pagopa-d-weu-ecommerce-transaction-notifications-queue
    TRANSACTIONS_DEAD_LETTER_QUEUE_NAME: pagopa-d-weu-ecommerce-transactions-dead-letter-queue
    TRANSACTIONS_AUTHORIZATION_REQUESTED_QUEUE_NAME: pagopa-d-weu-ecommerce-transaction-auth-requested-queue
    TRANSACTIONS_AUTHORIZATION_OUTCOME_WAITING_QUEUE_NAME: pagopa-d-weu-ecommerce-transaction-auth-outcome-waiting-queue
    NOTIFICATIONS_SERVICE_URI: https://api.dev.platform.pagopa.it/ecommerce/notifications-service/v1
    NOTIFICATIONS_SERVICE_READ_TIMEOUT: "10000"
    NOTIFICATIONS_SERVICE_CONNECTION_TIMEOUT: "10000"
    TRANSACTIONS_SERVICE_URI: https://api.dev.platform.pagopa.it/ecommerce/transaction-auth-requests-service/v1
    TRANSACTIONS_SERVICE_READ_TIMEOUT: "10000"
    TRANSACTIONS_SERVICE_CONNECTION_TIMEOUT: "10000"
    NODO_URI: https://api.uat.platform.pagopa.it/nodo/nodo-per-pm/v2
    NODO_READ_TIMEOUT: "14000"
    NODO_CONNECTION_TIMEOUT: "14000"
    NODO_ECOMMERCE_CLIENT_ID: ecommdev
    MONGO_HOST: pagopa-d-weu-ecommerce-cosmos-account.mongo.cosmos.azure.com
    MONGO_USERNAME: pagopa-d-weu-ecommerce-cosmos-account
    MONGO_PORT: "10255"
    MONGO_SSL_ENABLED: "true"
    MONGO_MIN_POOL_SIZE: "0"
    MONGO_MAX_POOL_SIZE: "50"
    MONGO_MAX_IDLE_TIMEOUT_MS: "600000"
    MONGO_CONNECTION_TIMEOUT_MS: "2000"
    MONGO_SOCKET_TIMEOUT_MS: "10000"
    MONGO_SERVER_SELECTION_TIMEOUT_MS: "2000"
    MONGO_WAITING_QUEUE_MS: "2000"
    MONGO_HEARTBEAT_FREQUENCY_MS: "5000"
    REDIS_PORT: "6380"
    REDIS_SSL_ENABLED: "true"
    ECOMMERCE_STORAGE_TRANSIENT_QUEUE_ACCOUNT_NAME: pagopadweuecommercetrsa
    ECOMMERCE_STORAGE_TRANSIENT_QUEUE_ENDPOINT: https://pagopadweuecommercetrsa.queue.core.windows.net/pagopadweuecommercetrsa
    REFUND_RETRY_EVENT_BASE_INTERVAL_SECONDS: "600"
    REFUND_RETRY_EVENT_MAX_ATTEMPTS: "3"
    CLOSE_PAYMENT_RETRY_EVENT_BASE_INTERVAL_SECONDS: "30"
    CLOSE_PAYMENT_RETRY_EVENT_MAX_ATTEMPTS: "3"
    NOTIFICATION_RETRY_EVENT_BASE_INTERVAL_SECONDS: "600"
    NOTIFICATION_RETRY_EVENT_MAX_ATTEMPTS: "3"
    AUTHORIZATION_OUTCOME_FIRST_ATTEMPT_DELAY_SECONDS: "175"
    AUTHORIZATION_OUTCOME_WAITING_EVENT_BASE_INTERVAL_SECONDS: "80"
    AUTHORIZATION_OUTCOME_WAITING_EVENT_MAX_ATTEMPTS: "3"
    PERSONAL_DATA_VAULT_API_BASE_PATH: "https://api.uat.tokenizer.pdv.pagopa.it/tokenizer/v1"
    SEND_PAYMENT_RESULT_TIMEOUT_SECONDS: "3900"
    SEND_PAYMENT_RESULT_EXPIRATION_OFFSET_SECONDS: "5"
    OTEL_RESOURCE_ATTRIBUTES: "service.name=pagopa-ecommerce-event-dispatcher-service,deployment.environment=dev"
    OTEL_EXPORTER_OTLP_ENDPOINT: "http://otel-collector.elastic-system.svc:4317"
    OTEL_EXPORTER_OTLP_PROTOCOL: grpc
    OTEL_TRACES_EXPORTER: otlp
    OTEL_METRICS_EXPORTER: otlp
    OTEL_LOGS_EXPORTER: none
    OTEL_TRACES_SAMPLER: "always_on"
    NPG_URI: "https://stg-ta.nexigroup.com/api/phoenix-0.0"
    NPG_READ_TIMEOUT: "10000"
    NPG_CONNECTION_TIMEOUT: "10000"
    ECS_SERVICE_NAME: pagopa-ecommerce-event-dispatcher-service
    ECS_SERVICE_ENVIRONMENT: dev
    NPG_CARDS_PSP_LIST: "BCITITMM,CIPBITMM,BIC36019,UNCRITMM,BPPIITRRXXX,PPAYITR1XXX,BNLIITRR,PASCITMM,WOLLNLB1,IFSPIT21"
    NPG_PAYPAL_PSP_LIST: "BCITITMM,SIGPITM1XXX"
    NPG_MYBANK_PSP_LIST: "BCITITMM,UNCRITMM"
    NPG_BANCOMATPAY_PSP_LIST: "BCITITMM"
    NPG_SATISPAY_PSP_LIST: "SATYLUL1"
    NPG_APPLEPAY_PSP_LIST: "SIGPITM1XXX"
    REDIS_STREAM_EVENT_CONTROLLER_STREAM_KEY: "event-dispatcher-commands"
    REDIS_STREAM_EVENT_CONTROLLER_CONSUMER_GROUP_PREFIX: "event-dispatcher"
    REDIS_STREAM_EVENT_CONTROLLER_CONSUMER_NAME_PREFIX: "event-dispatcher"
    EVENT_CONTROLLER_STATUS_POLLING_CHRON: "*/10 * * * * *"
    NODE_FORWARDER_URL: "https://api.uat.platform.pagopa.it/pagopa-node-forwarder/api/v1"
    NODE_FORWARDER_READ_TIMEOUT: "10000"
    NODE_FORWARDER_CONNECTION_TIMEOUT: "10000"
    REDIRECT_PAYMENT_TYPE_CODES: "BPPIITRRXXX-RBPR,BPPIITRRXXX-RBPP,BPPIITRRXXX-RBPB,PPAYITR1XXX-RBPB,CHECKOUT-PPAYITR1XXX-RBPP,IO-PPAYITR1XXX-RBPP,PPAYITR1XXX-RBPR,RBPS,RPIC,RICO"
    NPG_REFUND_DELAY_FROM_AUTH_REQUEST_MINUTES: "10"
    USER_STATS_URL: "https://api.dev.platform.pagopa.it/ecommerce/user-stats-service/v1/"
    USER_STATS_READ_TIMEOUT: "10000"
    USER_STATS_CONNECTION_TIMEOUT: "10000"
    NPG_REFUND_EVENT_PROCESSING_DELAY_SECONDS: "10"
  envSecret:
    ECOMMERCE_STORAGE_TRANSIENT_QUEUE_KEY: ecommerce-storage-transient-account-key
    MONGO_PASSWORD: mongo-ecommerce-password
    REDIS_PASSWORD: redis-ecommerce-access-key
    REDIS_HOST: redis-ecommerce-hostname
    NODO_CONNECTION_STRING: nodo-connection-string
    QUEUE_TRANSIENT_CONNECTION_STRING: ecommerce-storage-transient-connection-string
    QUEUE_DEADLETTER_CONNECTION_STRING: ecommerce-storage-deadletter-connection-string
    NOTIFICATIONS_SERVICE_API_KEY: notifications-service-api-key
    TRANSACTIONS_SERVICE_API_KEY: transactions-service-auth-update-api-key
    ECOMMERCE_PERSONAL_DATA_VAULT_API_KEY: personal-data-vault-api-key
    WALLET_SESSION_PERSONAL_DATA_VAULT_API_KEY: personal-data-vault-api-key-wallet-session
    OTEL_EXPORTER_OTLP_HEADERS: elastic-otel-token-header
    NPG_API_KEY: npg-api-key
    NPG_CARDS_PSP_KEYS: npg-cards-psp-keys
    NODE_FORWARDER_API_KEY: node-forwarder-api-key
    USER_STATS_API_KEY: user-stats-for-event-dispatcher-api-key
    REDIRECT_URL_MAPPING: redirect-url-mapping
    NPG_PAYPAL_PSP_KEYS: npg-paypal-psp-keys
    NPG_BANCOMATPAY_PSP_KEYS: npg-bancomatpay-psp-keys
    NPG_MYBANK_PSP_KEYS: npg-mybank-psp-keys
    NPG_SATISPAY_PSP_KEYS: npg-satispay-psp-keys
    NPG_APPLEPAY_PSP_KEYS: npg-apple-pay-psp-keys
  keyvault:
    name: "pagopa-d-ecommerce-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"
  nodeSelector: {}
  tolerations: []
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: node_type
                operator: In
                values:
                  - user
